@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* shared styling */
.text-alignment{
    text-align: center;
}

.btn-primary{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
}

.btn-primary:hover{
    cursor: pointer;
}

.btn-secondary{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
}

.titles{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;

}

.titles-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

main{
    max-width: 1140px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* Hero section styling */

.header{
    background-image: url("/assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    padding: 26px 221px 44px;
}

.hero-image{
    width: 240px;
    height: 240px;
    object-fit: cover;
    z-index: 999;
}
.hero-title{
    font-family: Azeret Mono;
    font-weight: 800;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: 0%;
    margin-top: 32px;
    margin: 0px 221px;
}
.hero-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 24px 294px 32px;
}

/* Why Web Development section styling */

.web-development-bg-colour{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.secondary-images-1{
    width: 259px;
}
.secondary-images-2{
    width: 223px;
}
.secondary-images-3{
    width: 206px;
}

.subtitles-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 24px 0px 48px 0px;
    
}

.web-development{
    padding: 80px 97px;
    margin-top: 74px;
}

.development-item{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    /* border: 2px solid black; */
    padding: 48px;
    display: flex;
    margin-bottom: 32px;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}


.development-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.development-subtitle-descriptions{
    margin: 16px 0px 32px;
}


/* Inspiration section styling */

.inspiration{
    margin: 88px 144px 48px;
    /* border: 2px solid turquoise; */
}

/* .inspiration-subtitle{
    margin: 24px 144px 48px;
} */

/* Video section styling */
/* .video-area{
    padding: 48px;
} */

.video-container{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.video-section{
    width: 1076px;
    height: 550px;
    padding: 32px;
    /* overflow: hidden; */
}

.video-border{
    border-radius: 16px;
    overflow: hidden;
}

/* Current target section styling */

.current-target-title{
    margin: 88px 144px 0px;
    /* border: 2px solid turquoise; */
}

.current-target-subtitle{
    margin: 24px 144px 48px;
}

.target-items{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 24px;
    justify-content: space-evenly;
}

.target-item{
    flex: 1;
    padding: 40px;
}

.target-image{
    height: 56px;
    width: 56px;
}

.target-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.target-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 8px 0px 24px;
}

.target-learn-more-link{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-decoration-line: underline;
}

.target-item-1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.target-item-2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.target-item-3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    /* background: red; */
}

/* Support section styling */

.bg-support-color{
    background-image: url("/assets/handshake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}

.support-title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    /* margin: 64px;  */
    margin-top: 64px;
    padding-top: 64px;
}

.support-subtitle{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin:16px 0px 32px;
}

.btn-submit{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
    border: none;
}

.btn-submit:hover{
    cursor: pointer;
}

.content-input-button{
    padding-bottom: 64px;
    /* gap: 200px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 16px;
}

.content-input-button input[type="text"]{
    /* height: 57px; */
    width: 548px;
    /* box-sizing: border-box; */
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.input-field{
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    padding: 19px 20px 19px 20px;
}

/* Footer styling */
/* .footer-bg-colour{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
} */

.footer{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 380px;
    margin-top: 80px; */
}

/* nav ul img{
    margin-left: 24px;
} */

.footer-section{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
}

.footer-title{
    font-family: Azeret Mono;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0%;
}

.footer-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 190px;
    /* gap: 30px; */
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
}

nav ul img{
    margin-left: 24px;
}





